
h3,h5{
	font-weight: 600;
}
.content_wrap{
	width:95%;
	margin: 0 auto;
}
.content_wrap h1{
	font-weight: 800;
}

.col_5{display:grid;grid-template-columns: 20% 20% 20% 20% 20%; gap:0;}
.header_bg{
	background-image: url(/src/assets/img/covers/cover-4.jpg); 
    background-size: 100%;
    background-position: center;
}
.table>:not(caption)>*>*{
	padding: 0.5rem;
}
.table thead th{
	text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #1b2a4e;
    font-weight: 600;
}
.my_desk .nav-link{
    font-size: 1.2rem;
	color: #1b2a4e;
	padding: 0.9rem 2rem;
}

.help_desk .icon-circle{
	height: 2.1875rem;
    width: 2.1875rem;
    justify-content: center;
}
.help_desk .icon-circle>.fe {
    font-size: 1.5rem;
}
a.txt_ellipsis{
	display: block;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
	width:280px;
}
.cursor-default{
	cursor : default;
}

